.btn{
  border: 1px solid $white;
  padding: $d8 $d21;
  text-transform: uppercase;
  border-radius: $d8;
  transition: .3s;
  &:hover{
    transition: .3s;
  }
}
.btn.btn-nephritis{
  border-color: $nephritis;
  color: $nephritis;
  &:hover{
    background-color: $nephritis;
    color: $white;
  }
}

.btn.btn-x2{
  font-size: $d16;
  padding: $d13 $d34;
}