*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #292f35;
}

$white : #fff;
$darkWhite: #f4f6f8;
$lightGray:#f2f0ec;
$mediumGray:#b9c1b9;
$gray: #81847d;
$darkGray: #41474a;
$lightBlack: #251c1c;
$nephritis:#52b58f;

$d8: 8px;
$d13: 13px;
$d16: 16px;
$d21: 21px;
$d26: 26px;
$d34: 34px;
$d42: 42px; 
$d55: 55px;
$d68: 68px;
$d89: 89px;
$d110: 110px;
$d144: 144px;
$d178: 178px;
$d233: 233px;
$d288: 288px;
$d377: 377px;
$d610: 610px;
$d987: 987px;
$d1597: 1597px;
$d2584: 2584px;

body{
  font-family: Roboto,sans-serif;
  font-weight: 300;
  background-color: $lightGray;
}
body,a,p,li{
  font-weight: 300;
  font-size: $d13;
  color: $lightBlack;
}
.clearfix::after,
.row::after{
  content: '';
  clear: both;
  display: block;
}
.pull-right{
  float: right;
}
.pull-left{
  float: left;
}
.border-left{
  border-left:1px solid $lightGray;
}
.container{
  padding: 0 $d42;
}
.container-block{
  padding-top: $d55;
}
.col{
  box-sizing: border-box;
  padding: 0 $d13;
}
.col-lg-3{
  width: 33.33%;
  float: left;
}

//new
.text-center{
  text-align: center;
}