@font-face {
  font-family: 'Roboto';
  src: url('../fonts/subset-Roboto-Bold.eot');
  src: url('../fonts/subset-Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-Roboto-Bold.woff2') format('woff2'),
  url('../fonts/subset-Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/subset-Roboto-Light.eot');
  src: url('../fonts/subset-Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-Roboto-Light.woff2') format('woff2'),
  url('../fonts/subset-Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/subset-Roboto-Medium.eot');
  src: url('../fonts/subset-Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-Roboto-Medium.woff2') format('woff2'),
  url('../fonts/subset-Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/subset-Roboto-Black.eot');
  src: url('../fonts/subset-Roboto-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-Roboto-Black.woff2') format('woff2'),
  url('../fonts/subset-Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/subset-RobotoCondensed-Bold.eot');
  src: url('../fonts/subset-RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-RobotoCondensed-Bold.woff2') format('woff2'),
  url('../fonts/subset-RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/subset-RobotoCondensed-Light.eot');
  src: url('../fonts/subset-RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-RobotoCondensed-Light.woff2') format('woff2'),
  url('../fonts/subset-RobotoCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}