#nav{
  background-color: $white;
  height: $d55;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  a{
    display: inline-block;
  }
  .main-menu-logo{
    border-right: 1px solid $lightGray;
    a{
      padding: 0 $d55;
      line-height: $d55;
      font-size: $d16;
      letter-spacing: 2px;
      span{
        letter-spacing: 0;
        padding-right: 3px;
        font-size: $d21;
        //font-weight: 900;
      }
    }
  }
  .navigation{
    .main-menu{
      ul{
        padding:0 $d16;
        li{
          list-style: none;
          display: inline-block;
          a{
            text-transform: uppercase;
            font-size: $d13;
            line-height: $d55;
            padding: 0 $d16;
            i{
              padding-right: 8px;
            }
          }
        }
      }
    }
    .main-menu-login{
      background-color: $lightBlack;
      a{
        line-height: $d55;
        color: $white;
        font-size: $d13;
        text-transform: uppercase;
        transition: .3s;
        padding: 0 $d55;
        &:hover,
        &:hover i{
          color: $nephritis;
          transition: .3s;
        }
        i{
          transition: .3s;
          color: $white;
          padding-right: 8px;
        }
      }
    }
  }
}