#body{
  margin-top: 55px;
}
.new-servers{
  h2{
    font-size: 34px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
  }
  .server-block{
    margin-top: $d34;
    background: $white;
    height: $d68;
  }
}