.server-page{
  .left-menu{
    position: fixed;
    width: $d288;
    height: calc(100% - #{$d55});
    background-color: $lightBlack;
    .server-logo{
      padding: $d21 $d34;
      height: $d110;
      text-align: center;
      img{
        height: 100%;
        object-fit: cover;
      }
    }
    .server-name{
      h3{
        font-size: $d21;
        color: $nephritis;
        text-transform: uppercase;
        text-align: center;
      }
    }
    .server-menu{
      margin-top: $d68;
      li{
        a{
          transition: .5s;
          overflow: hidden;
          display: block;
          line-height: $d55;
          height: $d55;
          color: white;
          font-size: $d16;
          text-transform: uppercase;
          border-bottom: 1px solid $lightBlack + 20;
          background: -moz-linear-gradient(left, rgba(255,255,255,0.05) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, rgba(255,255,255,0.05) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, rgba(255,255,255,0.05) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          &:hover{
            background: -moz-linear-gradient(right, rgba(255,255,255,0.05) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(right, rgba(255,255,255,0.05) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to left, rgba(255,255,255,0.05) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            transition: all 0.2s linear;
          }
          &:hover span{
            background: rgba(255, 255, 255, 0.1);
            transition: all 0.2s linear;
          }
        }
        span{
          margin-right: $d16;
          line-height: $d55;
          height: $d55;
          padding: $d21;
          transition: .3s;
          
        }
        i{
          color:$white;
        }
      }
      .start-game{
        margin-top: $d68;
        a{
          display: inline-block;
          margin: 0 auto;
        }
      }
    }
  }
  .project-container{
    width: calc(100% - #{$d288});
    float: right;
    height: 100px;
    background-color: #52b58f;
  }
}